#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #fafafa;
}
#footer p {
  margin: 1em 0;
}
#header {
  color: #fafafa;
}

.job-panel {
  margin-top: 4em;
}
.bgImg {
  -webkit-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}
