{% extends "layout.html" %}
{% block content %}
<div class="job-panel panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Job ID: {{locals.id}}</h3>
  </div>
  <div class="panel-body row">
    <div class="col-sm-12">
    <input class="hidden" id="location" value="{{locals.location.id}}"/>
    <p> Location: {{locals.location.name}} </p>
    <p> Arrival Date: {{locals.date}}</p>
    <p> Number of Nights: {{locals.length_of_stay}}</p>
    </div>
    <div class="col-sm-12">
        <a href="/jobs/{{locals.id}}/delete" class="btn btn-danger">Delete Job</a>
      </form>
    </div>
  </div>
  <div class="panel-footer warning">
    Note: The job will continue to run until {{locals.date}} or you delete.
  </div>
</div>
{% endblock %}
